body {
    background-color: 
    #699dac;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 10px;
}

h1 {
color: #1d222e;
    text-align: center;
    font-size-adjust: none;
    font-size: 50px;
}

h2{
font-size: 50px;
color: #1d222e;
}

img{
    width: 500px;

}
ul{

    color: red;
}