body {
    background-color: 
    #b4c8ce;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 10px;
}

h1 {
    color: chartreuse;
    text-align: center;
    font-size-adjust: none;
}

h2{
font-size: 22px;
}

img{
    width: 500px;

}